docs/*/*.aux
docs/*/*.fdb_latexmk
docs/*/*.fls
docs/*/*.log
docs/*/*.synctex.gz
docs/*/*.toc
docs/Requirements\ Doc/*.pdf


docs/*.aux
docs/*.fdb_latexmk
docs/*.fls
docs/*.log
docs/*.synctex.gz
docs/*.toc
facenet

facenettrial/datasets
facenettrial/classifier.pkl
