<html>
<head>
    <title>HIVENet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/take_face.css') }}">
</head>
<body>
    <h1>Gathering Photos...</h1>
    <a href="/">Go back</a>
    <div class="look-here-container">
        <div class="look-here">
            <h2>Look Here</h2>
        </div>
    </div>
    <!-- SCRIPTS -->
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery-3.3.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/rxjs.umd.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/takeImages.js') }}"></script>
</body>
</html>