.title {
  text-align:center;
}
body{
  background-color:lightblue;
}
.row{
  display:block;
  margin: 0 auto;
  width: 20%;
}
.picture{
  position:center;
  width:89px;
  height:89px;
  border-style:solid;
  float:left;
  margin-right:1px;
  margin-left:9.5px;
  margin-bottom:2px;
}
.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
}
#train_button{
  display:inline-block;
  width:80px;
  height:40px;
}
#recognize_button{
  display:inline-block;
  width:80px;
  height:40px;
}
