<!DOCTYPE html>

<html>
    <head>
        <title> HIVENet </title>
        <link rel = "stylesheet" href = "{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
    
        <div class = "interaction">
            <div class = "title">
                <h1> HIVENet Demonstration </h1>
            </div>
            
            <div class = buttons>
                <form id = "train_button" action = "{{ url_for('get_training_form') }}">
                    <input type = "submit" value = "Train">
                </form>
                <form id = "recognize_button" action = "{{ url_for('get_recognition_form') }}">
                    <input type = "submit" value = "Recognize">
                </form>
            </div>
        <!-- Line break for separation -->
        <p></p>
    
        <div class = "picture_layout">
            <div class = "row1">
                <div class = "picture">Image</div>
                <div class = "picture">Image</div>
                <div class = "picture">Image</div>
                <div class = "picture">Image</div>
                <div class = "picture">Image</div>
                <div class = "picture">Image</div>
                <div class = "picture">Image</div>
                <div class = "picture">Image</div>
                <div class = "picture">Image</div>
                <div class = "picture">Image</div>
                <div class = "picture">Image</div>
                <div class = "picture">Image</div>
                <div class = "picture">Image</div>
                <div class = "picture"></div>    
            </div>
            <div class = "row2">
            <div class = "picture">Image</div>
            <div class = "picture">Image</div>
            <div class = "picture">Image</div>
            <div class = "picture">Image</div>
            <div class = "picture">Image</div>
            <div class = "picture">Image</div>
            <div class = "picture">Image</div>
            <div class = "picture">Image</div>
            <div class = "picture">Image</div>
            <div class = "picture">Image</div>
            <div class = "picture">Image</div>
            <div class = "picture">Image</div>
            <div class = "picture">Image</div>
                    <div class = "picture">Image</div>    
            </div>
            <div class = "row1">
            <div class = "picture">Image</div>
            <div class = "picture">Image</div>
            <div class = "picture">Image</div>
            <div class = "picture">Image</div>
            <div class = "picture">Image</div>
            <div class = "picture">Image</div>
            <div class = "picture">Image</div>
            <div class = "picture">Image</div>
            <div class = "picture">Image</div>
            <div class = "picture">Image</div>
            <div class = "picture">Image</div>
            <div class = "picture">Image</div>
            <div class = "picture">Image</div>
            <div class = "picture">Image</div>    
            </div>
            <div class = "row3">
            <div class = "picture">Image</div>
            <div class = "picture">Image</div>
            <div class = "picture">Image</div>
            <div class = "picture">Image</div>
            <div class = "picture">Image</div>
            <div class = "picture">Image</div>
            <div class = "picture">Image</div>
            <div class = "picture">Image</div>
            <div class = "picture">Image</div>
            <div class = "picture">Image</div>
            <div class = "picture">Image</div>
            <div class = "picture">Image</div>
            <div class = "picture">Image</div>    
            <div class = "picture">Image</div>    
            <div class = "picture">Image</div>    
            <div class = "picture">Image</div>    
            <div class = "picture">Image</div>    
            <div class = "picture">Image</div>    
            </div>
    
        </div>
    
        
    
    
    
    
        </body>
    </html>
    
    <body>

    </body>
</html>